.box {
  border: 3px solid black;
  width: 500px;
}

.item-img {
  width: 400px;
  height: 400px;

}

.main {
  display: flex;
  justify-content: center;
}

.win {
  border: 3px solid green;
  width: 500px;
}

.lose {
  border: 3px solid red;
  width: 500px;
}

.tie {
  border: 3px solid black;
  width: 500px;
}

.align {
  justify-content: center;
}